<h3>Welcome</h3>
<p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>

<% @current_user ||= User.find(session[:user_id]) if session[:user_id] %>

user role:
<% if @current_user != nil %>

<%= @current_user.role %>
    <% if current_user.role == admin %>
    <p><%= link_to 'Project Listings Index', projects_path %> </p>

    <% else %>

    <% end %> 
<% end %>
