<h3>Welcome</h3>
<p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>




<p><%= link_to 'Project Listings Index', projects_path %> </p>
<% if current_user != nil %>

    <% if current_user.patient? %>
    I am patient. 

    <% elsif current_user.admin? %>
    I am admin. 
   
    <% elsif current_user.vip? %>
    I am vip (organization). 

    <% else current_user %>
    You are student (regular user.)
    <% end %>

<% end %>

