<h1>Projects#index</h1>
<p>Find me in app/views/projects/index.html.erb</p>

<h1>Synergy</h1>
<%= link_to "Submit a project!", new_project_path %>
<hr>
<% @projects.each do |project| %>
<h2><%= link_to project.title, project_path(project) %></h2>
<div>
Description:
<%= project.description %></div>
<hr>
<% end %>