<h1>Appointments#new</h1>
<p>Find me in app/views/appointments/new.html.erb</p>


<%= link_to "Back to all appointments", appointments_index_path %>

<h2>Submit an appointment!</h2>

<%= render 'form' %>